{
    "Bot Token": "",
    "Game": {
        "name": ".help",
        "type": 2
    },
    "Database": {
        "user": "postgres",
        "password": "",
        "database": "rsbot",
        "host": "127.0.0.1"
    },
    "Giveaway": {
        "channel": 0,
        "timeout": 20,
        "duration": 60,
        "giveaway": 250000
    },
    "Ticket Thresholds": {
        "newscape": 25000000,
        "oldscape": 4000000
    },
    "Owner IDs": [
        0,
        1
    ]
}
